@model Microsoft.AspNetCore.Identity.IdentityRole

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/ClientAdmin/Views/_Layout.cshtml";
}

<div class="row centered">
    <div class="col-md-4">
        <h1 class="h1">Create Role</h1>
        <hr />
        <form asp-controller="Role" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <a asp-action="Index">Back to List</a>
    </div>
    @*<div class="col-md-4"></div>*@
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script src="~/public/js/jquery.min.js"></script>
<script src="~/public/js/bootstrap.min.js"></script>
