@model HairDemoSite.Areas.ClientAdmin.Models.SiteImageModel
@{
    ViewData["Title"] = "Images";
    Layout = "~/Areas/ClientAdmin/Views/_Layout.cshtml";
}

<div class="row" style="padding: 15px">
    <div class="col-xl-12">
        <div class="h2">Site Images</div>
        <hr />
    </div>
</div>

<div class="row" style="padding-left:15px; padding-right:5px; padding-top: 10px; padding-bottom:70px">
    <div class="col-lg-10">
        <div class="h3">
            File Upload
        </div>
        <form>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="fileInput">
                <label class="custom-file-label" for="fileInput">Choose file</label>
            </div>
            <div style="padding:10px">
                <button id="btnUpload" class="btn btn-light disabled">Upload File</button>
            </div>
        </form>


    </div>
</div>

<script>

    var urlStart = '@Html.Raw(Model.URLqualifier)';

    console.log('URL Start = ' + urlStart);

    $(document).ready(function () {
        $('#btnUpload').addClass('disabled');
        $('#btnUpload').prop('disabled', true);

        $('#btnUpload').click(function (evt) {

            evt.preventDefault();

            if (window.FormData !== undefined) {

                var fileUpload = $("#fileInput").get(0);
                var files = fileUpload.files;
                var fileData = new FormData();
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                console.log('Files : ' + files);
                console.log('File Data : ' + fileData);

                $.ajax({
                    url: urlStart + '/ClientAdmin/Admin/FileUpload',
                    type: "POST",
                    contentType: false,
                    processData: false,
                    data: fileData,
                    success: function (result) {
                        console.log('Upload success : ' + result);
                        location.reload();
                    },
                    error: function (err) {
                        console.log('Upload failure : ' + err.statusText);
                        alert('Upload failure : ' + err.statusText);
                    }
                });
            } else {
                alert("FormData is not supported in the browser.");
            }
        });


        $("#fileInput").on("change", function () {

            console.log('File data : ' + $(this).val());

            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);

            $('#btnUpload').removeClass('disabled');
            $('#btnUpload').prop('disabled', false);

        });

        $('.popup').magnificPopup({
            type: 'image'
        });
    });

</script>

<div class="row" style="padding-left:15px">
    <div class="col-lg-10">
        <hr />
        <div class="h3">Current Files</div>
        <hr />
    </div>
</div>

<div class="row" style="padding-left:5px; padding-right:5px;">
    @foreach (var image in Model.Images)
    {
    <div class="col-sm-4 col-lg-3" style="min-height: 150px; overflow-wrap: break-word;">
        <a class="popup" href="~/@image.ImageLocation">
            <img src="~/@image.ImageLocation" class="popup" style=" height: 100%; max-height:100px; width:100%; max-width:100px">
        </a>
        <h5>@image.ImageName</h5>
    </div>
    }
</div>